<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated OCCI -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.model.google.occi.presentation.OcciModelWizardID"
            name="%_UI_OcciModelWizard_label"
            class="org.model.google.occi.presentation.OcciModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/OcciModelFile.gif">
         <description>%_UI_OcciModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated OCCI -->
      <editor
            id="org.model.google.occi.presentation.OcciEditorID"
            name="%_UI_OcciEditor_label"
            icon="icons/full/obj16/OcciModelFile.gif"
            extensions="occi"
            class="org.model.google.occi.presentation.OcciEditor"
            contributorClass="org.model.google.occi.presentation.OcciActionBarContributor">
      </editor>
   </extension>

</plugin>
